@font-face {
  font-family: openSans;
  src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: scopeOne;
  src: url(../assets/fonts/Scope_One/ScopeOne-Regular.ttf);
}

header, #add-todo-button {
  background: rgb(194,217,234);
  background: linear-gradient(45deg, rgba(194,217,234,1) 0%, rgba(157,227,194,1) 100%);
}

.todo {
  background-color: #F6F6F6;
}

body {
  font-family: openSans;
  font-size: 16px;
}

header {
  padding-top: 5px;
}

h1 {
  font-size: 32px;
  margin-left: 10px;
  font-family: scopeOne;
}

#add-todo-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  
  font-size: 30px;
  height: 40px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-title {
  font-size: 22px;
}

.todo {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  gap: 30px;
  
  padding: 20px;
  border-radius: 10px;
}

.todo-left-section {
  display: flex;
  flex-direction: column;
  gap: 15px
}

.todo-right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.todo-delete-button {
  border: 0px;
  background-color: #F6F6F6;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  margin-bottom: -10px;
  width: 30px;

}

