@font-face {
  font-family: openSans;
  src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: scopeOne;
  src: url(../assets/fonts/Scope_One/ScopeOne-Regular.ttf);
}

:root.light {
  --background-color: #FFFFFF;
  --todo-form-background-color: #f0f0f0;
  --font-color: #000000;
  --placeholder-color: #969696;

  --gradient-left-color: rgba(194,217,234,1);
  --gradient-right-color: rgba(157,227,194,1);
}

:root.dark  {
  --background-color: #242424;
  --todo-form-background-color: #141414;
  --font-color: #aab8b5;
  --placeholder-color: #696969;

  --gradient-left-color: rgba(255,134,126,1);
  --gradient-right-color: rgba(240,212,110,1);
}

header, #add-todo-button {
  background: linear-gradient(45deg, var(--gradient-left-color) 0%, var(--gradient-right-color) 100%);
}

* {
  box-sizing:border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: openSans;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

h1, h2, h3, p, button, input {
  color: var(--font-color);
}

h1 {
  padding-top: 5px;
}

header {
  padding-top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-switch, #nav-toggle {
  background-color: rgba(0,0,0,0);
  height: 30px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  margin-right: 5px;
}

#nav-toggle {
  display: none;
}

h1 {
  font-size: 32px;
  padding-left: 7px;
  font-family: scopeOne;
  color: #000000;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  padding-left: 14px;
}

input[type=text], input[type=date], textarea{
  background-color: rgba(0,0,0,0);
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: openSans;
  resize: none;
}

input[type=text] {
  width: 100%;
}

input[type=date] {
  font-size: 16px;
  width: 120px;
  margin-right: 5px;
  cursor: text;
}

::placeholder {
  font-style: italic;
  color: var(--placeholder-color);
}

textarea:focus, input:focus{
  outline: none;
}

#add-todo-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  
  font-size: 30px;
  height: 40px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 5px;
  color: #000000;
}

#project-list-sidebar {
  position: fixed;
  left: 0px;
  top: 37px;
  height: calc(100% - 37px);
  width: 300px;
  background-color: var(--todo-form-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#button-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
  padding-top: 20px;
}

#add-project-button {
  background: var(--background-color);
  border: 0px;
  border-radius: 5px;
  width: 95%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  align-self: center;
}

#all-button,
#today-button,
#this-week-button,
#completed-todo-button {
  background-color: rgba(0,0,0,0);
  border: 0px;
  font-size: 27px;
  font-family: openSans;
  font-weight: bold;
  width: 93%;
  text-align: left;
}

#todo-list, #project-title {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 20px;
  max-width: 800px;
  gap: 5px;
  width: 100%;
}

#project-title {
  margin-top: 24px;
}

#project-list-title {
  font-weight: 100;
  padding-left: 6px;
  margin-top: 30px;
}

#project-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

#permanent-project-list, #custom-project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#project-list button {
  border: 0px;
  background-color: rgba(0,0,0,0);
  font-size: 20px;
  font-weight: 100;
  font-family: openSans;
  text-align: left;
}

.todo-title, #todo-form-title {
  font-size: 18px;
  line-height: 1.5;
}

.todo-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 29px;
}

#todo-form-description {
  font-size: 16px;
  line-height: 1.5;
  color: var(--font-color);
}

#todo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: var(--todo-form-background-color);
  margin-top: -4px;
}

.todo-form-left-section {
  margin-top: 2px;
}

.todo-form-middle-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.todo-form-right-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.todo-form-bottom-right {
  display: flex;
  gap: 10px;
}

#todo-form-delete-button, #todo-form-submit-button {
  border: 0px;
  background-color: rgba(0,0,0,0);
  margin: 0px;
  padding: 0px;
  margin-bottom: -10px;
  width: 30px;
}

.todo-form-due-date {
  font-size: 18px;
  margin-top: 4px;
}

input[type=checkbox] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

#project-list button:hover {
  background-color: var(--background-color);
}

#project-list button, #project-form {
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  margin-right: 30px;
}

#project-form {
  background-color: var(--background-color);
}

#project-form-title {
  font-size: 20px;
}

.selected-project {
  background-color: var(--background-color) !important;
}

@media screen and (max-width: 1440px) {
  #project-list-sidebar {
    display: none;
  }
  #nav-toggle {
    display: flex;
  }
  #theme-switch {
    display: none;
  }
}

