@font-face {
  font-family: openSans;
  src: url(../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: openSansItalic;
  src: url(../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: scopeOne;
  src: url(../assets/fonts/Scope_One/ScopeOne-Regular.ttf);
}

header, #add-todo-button {
  background: rgb(194,217,234);
  background: linear-gradient(45deg, rgba(194,217,234,1) 0%, rgba(157,227,194,1) 100%);
}

*{
  box-sizing:border-box;
}

body {
  font-family: openSans;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding-top: 5px;
  width: 100%;
}

h1 {
  font-size: 32px;
  margin-left: 10px;
  font-family: scopeOne;
}

input[type=text], input[type=date], textarea{
  background-color: rgba(0,0,0,0);
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: openSans;
  resize: none;
}

input[type=text] {
  width: 100%;
}

input[type=date] {
  font-size: 16px;
  width: 120px;
  margin-right: 5px;
}

::placeholder {
  font-style: italic;
}

textarea:focus, input:focus{
  outline: none;
}

#add-todo-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  
  font-size: 30px;
  height: 40px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  max-width: 800px;
  gap: 10px;
  width: 100%;

}

.todo-title, .todo-form-title {
  font-size: 22px;
  line-height: 1.5;
}

.todo-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-form-description {
  font-size: 16px;
  line-height: 1.5;
}

#todo-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  background-color: #F6F6F6;
}

.todo-form-middle-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.todo-form-right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.todo-form-delete-button {
  border: 0px;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  margin-bottom: -10px;
  width: 30px;
}

.todo-form-due-date {
  font-size: 18px;
  margin-top: 4px;
}

.completed-button, #todo-form-completed-button {
  width: 30px;
  height: 30px;
  background-color: rgba(0,0,0,0);
  border: 0px;
  padding: 0px;
  user-select: none;
  flex-shrink: 0;
  cursor: pointer;
}

.todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap:10px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
